<h3>北海道地方の天気</h3>

<table>
    <!-- 各地点の地点名、天気、天気画像を表示-->
    <% @location_weather_arr.each do |location_weather| %>
      <tr>
        <td><%= location_weather.city_name %></td>        
        <td><%= location_weather.today_weather %></td>
        <td><%= image_tag location_weather.today_weather_image_path, :size => '50x31'%></td>
      </tr>
    <% end %>
</table>